@import "../../common/css/common";
@import "../common/css/common";




.loan-form {
    background-color: #f8f8f8;
    border: 1px solid #dfdfdf;
    border-top: 2px solid #dfdfdf;
    padding: 30px 0 50px 80px;
}
.loan-form-title{
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    color: #333333;
    margin-bottom: 30px;
}
.loan-form-content {

}
.loan-form-con-box {
    margin-bottom: 16px;

    .clearfix;
}
.loan-form-content-name {
    float: left;
    width: 110px;
    text-align: right;
    margin-right: 8px;
    line-height: 34px;
    font-size: 14px;
    color: #333333;

    .loan-form-symbol {
        color: @color-red;
        vertical-align: middle;
        margin-right: 5px;
    }
}
.loan-form-content-right {
    float: left;
    line-height: 34px;
}
.loan-form-right-ipt {
    width: 260px;
    border: 1px solid #dedede;
    outline: none;
    padding: 8px;
    margin-right: 8px;

    &.title {
        width: 440px;
    }
}
.select-mar-right {
    margin-right: 8px;
}
.right-textarea {
    width: 440px;
    resize:none;
    height: 100px;
    outline: none;
    padding: 8px;
}
.form-con-right-link {
    display: block;
    width: 260px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    background-color: @color-green;

    .border-radius(5px);
}



// 试试 给select 加样式
.select-box {
    width: 200px;
    height: 30px;
    border: 1px solid #CCCCCC;
    background-color: #ffffff;

    .select-mar-right {
        border: none;
        background-color: transparent;
        width: 200px;
        outline: none;
        height: 30px;
    }
}