@import "../common/css/common.less";

.team-item {
    padding: 20px 30px 20px 20px;
    border-bottom: 1px dashed @color-gray-border;
    .clearfix;

    img {
        float: left;
        width: 120px;
        height: 120px;
        margin-right: 20px;
        display: block;

        &.bank {
            height: 36px;
        }

        &.huifu {
            margin-top: -4px;

        }
    }

    .team-item-intro {
        float: left;
        width: 550px;
    }

    .team-name {
        height: 30px;
        line-height: 30px;
        font-size: 16px;
    }

    .team-name-intro {
        font-size: 14px;
    }

    .team-intro {
        line-height: 24px;
        margin: 0;
        padding: 0;
    }
}
.company-intro {
    line-height: 28px;
    text-indent: 2em;
    font-size: 14px; 
    color:#777777;
   }
 .h-title   span {
        line-height: 20px;
	    text-indent: 2em;
	    font-size: 16px; 
	    color:#777777;
	    margin-left:10px;
    }
 


/*联系我们改版样式*/

.nav{border-bottom-width:0px;}

.company-nav{height:566px;background-color:#bdd4e5;}
.company-navbar{height:49px;background-color:#dcdcdc;}

.main-container {
       position:relative; 
       width:1000px;
       height:1992px;
   }
.container2 {
	  top:-517px; 
	  z-index:1;
	  position:absolute;
	  
     .company-box1 {
             background: url("img/team_bg1.png") no-repeat;
             width:1000px;
             height:343px; 
        
        }
      .company-box2 { 
             width:1000px;
             height:448px;
             background-color:#eeeeee;
             
             .company-team {
                     text-align:center; 
                     width:930px;
                     height:280px;
                     margin:0 auto; 
		             li {
		                 width:300px;
                         height:280px;
                         float:left;
                         display:block;
                         margin-left:10px;
                         margin-top:92px;
		             }
		             strong {
		                color:#000000;
		                font-size:20px;
		                margin-top:35px;
		                margin-bottom:32px;
		                display:block;
		             }
		             span {
		                 font-size:16px;
		                 color:#777777;
		                 font-weight:500;
		                 line-height:20px; 
		                 text-align:center; 
		             }
             }
             
             .company-link2 {
                     text-align:center; 
                     width:885px;
                     height:234px;
                     margin:0 auto;
                     margin-top:74px;
		             li {
		                 width:197px;
                         height:197px;
                         float:left;
                         display:block;
                         margin-left:170px;
                         margin-top:74px;
		             } 
		             span {
		                 font-size:16px;
		                 color:#777777;
		                 font-weight:500;
		                 line-height:20px; 
		                 text-align:center; 
		                 display:block;
		                 margin-top:20px;
		             }
             }
       }
       .company-box3 {  
             width:1000px;
             height:332px;
             background-color:#eeeeee; 
             padding-top:70px;
             
             .company-box {
			    height: 246px;
			    width:350px;
			    margin:0 auto;
			    margin-left:90px; 
			}
			.company-intro {
			    height: 246px;
			    width:350px;  
			    
			}
             .company-member {  
                  width:412px; 
                height: 246px;
                margin:18px 0px 0px 40px; 
             } 
       } 
        .company-box4 {  
             width:1000px;
             height:368px;
             background-color:#eeeeee; 
             .company-box {
			    height: 246px;
			    width:350px;
			    margin:0 auto; 
			      margin-left:40px; 
			}
			.company-intro {
			    height: 246px;
			    width:365px;  
			    line-height:24px;
			}
             .company-member {  
                width:412px; 
                height: 246px; 
                margin:18px 0px 0px 90px; 
             } 
       } 
        .company-box5 {  
             width:1000px;
             height:338px;
             background-color:#eeeeee; 
             .company-box {
			    height: 250px;
			    width:350px;
			    margin:0 auto; 
			    margin-left:90px; 
			}
			.company-intro {
			    height: 246px;
			    width:350px;  
			    line-height:24px;
			}
             .company-member {  
               width:412px; 
                height: 246px;
                margin:18px 0px 0px 40px; 
             } 
       } 
       
       .company-box6 { 
             background: url("img/team_bg3.png") no-repeat;
             width:1000px;
             height:380px;
             background-color:#eeeeee;  
       } 
       .company-img1 { 
             background: url("img/team_bg2.png") no-repeat;
             width:1000px;
             height:230px;
             background-color:#eeeeee;  
       } 
  }
