@import "../../common/css/common.less";

@import "../common/css/index.less";


.email-test {
    border: none;
}
.error {
    color: @color-red;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
}
.mar-btm {
    margin-bottom: 20px;
}

.email-box {
    font-size: 12px;
    color: #000000;

    &.email-box-span {
        color: @color-red;
    }
}


// 成功的页面

.success-font {
    font-size: 30px;
    color: @color-green;
    padding-top: 0;

    &.color-red {
        color: @color-red;
    }
}