@import "../common/css/common.less";


.banner {
    height: 370px;
//    background-color: @color-green;
}


.banner-select {
    .clearfix;

    width: 100px;
    position: absolute;
    z-index: 5;
    top: 330px;
    left: 50%;

    .banner-select-link {
        display: block;
        float: left;
        margin-right: 10px;
        font-size: 14px;
        color: @color-red;
        text-decoration: none;


        &:hover,&.current {
            color: #000000;
        }
    }
}
.introduce {
    height: 220px;
    background-color: #f8f8f8;
    padding-top: 60px;
}
.introduce-left {
    float: left;
    width: 360px;
    overflow: hidden;
    
    .introduce-left-title {
        height: 56px;
        line-height: 56px;
        font-size: 26px;
        font-weight: bold;

        span {
            color: @color-green;
        }
    }
    .introduce-left-text {
        font-size: 14px;
        color: #333333;
        line-height: 28px;

        a {
            text-decoration: none;
            color: @color-green;

        }
    }
}
.introduce-right {
    float: right;

    .clearfix;
}
.introduce-right-list {
    float: left;
    margin-right: 70px;
    text-align: center;
    width: 140px;
    overflow: hidden;

    &.last {
        margin-right: 0;
    }

    .introduce-list-logo {
        width: 80px;
        height: 80px;
        margin: 0 auto 10px;
        background: url("./img/round_pic_icon.png") 0 0 no-repeat;

        &.income {
            background-position: 0 0;
        }
        &.baozhang {
            background-position: 0 -100px;
        }
        &.teaching {
            background-position: 0 -200px;
        }
    }
    .introduce-list-title {
        font-size: 20px;
        height: 26px;
        line-height: 26px;
        color: #343434;
        margin-bottom: 4px;
    }
    .introduce-list-link {
        display: block;
        text-decoration: none;
        color: #656565;
    }
    .introduce-list-link-text {
        height: 20px;
        line-height: 20px;
    }
}
.main {

}
.newgonggao {
    height: 70px;
    line-height: 70px;
    border-bottom: 1px solid #dfdfdf;
    padding-right: 20px;

    .clearfix;
}
.newgonggao-title {
    font-size: 20px;
    color: #333333;
    margin-right: 20px;
}
.newgonggao-txt {
    text-decoration: none;
    color: #333333;

    .symbol {
        color: @color-green;
        margin-right: 10px;
    }

    .newgonggao-time {
        margin-left: 10px;
        color: #adadad;
    }
}
.newgonggao-more {
    float: right;
    line-height: 70px;
    text-decoration: none;
    color: #333333;
}
.bottom {
    padding-bottom: 40px;
}
.btm-bank-title {
    margin-bottom: 20px;
}
.bottom-content {
    .clearfix;
    padding-left: 20px;
    margin-right: -40px;
}

.bottom-bank {
    width: 150px;
    height: 40px;
    display: block;
    text-decoration: none;
    margin-right: 15px;
    float: left;
    background: url(../common/img/bank_icon.png) 0 0 no-repeat;
    margin-bottom: 20px;

    &.zhaoshang {
        background-position: 0 0;
    }

    &.gongshang {
        background-position: 0 -100px;
    }

    &.youzheng {
        background-position: 0 -198px;
    }

    &.minsheng {
        background-position: 0 -300px;
    }

    &.jianshe {
        background-position: 0 -402px;
    }

    &.zhongguo {
        background-position: 0 -500px;
    }

    &.pufa {
        background-position: 0 -600px;
    }

    &.xingye {
        background-position: 0 -702px;
    }

    &.nongye {
        background-position: 0 -800px;
    }

    &.jiaotong {
        background-position: 0 -902px;
    }

    &.guangda {
        background-position: 0 -1002px;
    }

    &.shanghai {
        background-position: 0 -1100px;
    }
}

//首页轮播css

.banner-floation {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 370px;
}
.banner-item {
    position: absolute;
    left: 0;
    top: 0;
    width: 300%;
    z-index: 2;
    
    .clearfix;
}
.banner-item-list {
    width: 33.333%;
    float: left;
    height: 370px;
}
.banner-item-list-link {
    width: 100%;
    display: block;
    background-color: @color-green;
    height: 370px;

    &.color-green {
        background-color: yellow;
    }

    &.color-red {
        background-color: blue;
    }

    &.color-blank {
        background-color: orange;
    }
}

// home页面的banner的fix-box


.banner-container {
    padding: 40px 0;
    background-color: transparent;
    width: 280px;
    position: absolute;
    left: 900px;
    top: 0;
}
.fix-box {
    width: 280px;
    float: right;
    .border-radius(5px);
    background-color: #ffffff;
}
.fix-box-title {
    height: 108px;
    background: url(../common/img/fix_title.png) 0 0 no-repeat;
    padding-top: 40px;

}
.fix-title-number {
    color: #ffffff;
    font-size: 42px;
    height: 50px;
    line-height: 50px;
    text-align: center;

    .fix-title-number-bai {
        font-size: 14px;
    }
}
.fix-title-text {
    font-size: 20px;
    color: #ffffff;
    text-align: center;
}
.fix-box-main {
    padding: 40px 0;
    background-color: #ffffff;
    text-align: center;
}
.fix-box-main-regist {
    width: 166px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background-color: @color-green;
    color: #ffffff;
    font-size: 16px;
    display: block;
    text-decoration: none;
    margin: 0 auto 10px;

    .border-radius(5px);
}
.fix-box-main-box {
    height: 20px;
    line-height: 20px;
    color: #333333;


    .fix-box-main-box-login {
        color: @color-green;
        text-decoration: none;

        &:hover {

            text-decoration: underline;
        }
    }
}


