@import "../common/css/common.less";

.company-logo {
    height: 30px;
}

.company-intro {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 20px;
    text-indent: 2em;
}

.company-kouhao {
    font-size: 18px;
    line-height: 32px;
    color: @color-green;
    height: 140px;
    padding-top: 80px;
    padding-left: 170px;
    font-weight: bold;

    background: url(./img/logo.png) 50px center no-repeat;
    background-color: #E8F3E6;
}