@import "../../common/css/common";

@import "../common/css/index.less";

.all-pay-help {
    z-index: 10;

    .all-pay-tip {
        position: absolute;
        display: none;
        bottom: 30px;
        left: -10px;
        width: 300px;
        line-height: 24px;
        font-size: 12px;
        color: @color-white;
        .border-radius(3px);
        padding: 10px;
        background-color: @color-green;
    }

    .all-pay-tip-trangle {
        position: absolute;
        width: 10px;
        height: 0;
        border-style: solid;
        border-width: 8px;
        border-color: transparent transparent transparent @color-green;
        bottom: -8px;
        left: 5px;
    }

    &:hover .all-pay-tip {
        display: block;
    }
}
