@import "../../common/css/common.less";
@import "../common/css/index.less";



.reward {

}
.reward-rule {
    padding: 20px;
    background-color: #f8f8f8;
    margin-bottom: 20px;
}
.reward-rule-title {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #333333;
}
.reward-rule-main {

}
.reward-main-list {
    height: 26px;
    line-height: 26px;
    color: #333333;
    padding-left: 10px;

    .round-span {
        color: #333333;
        margin-right: 5px;
    }
    .rule-spam {
        font-size: 14px;
        color: @color-red;
        font-weight: bold;
    }
}
.reward-type {

}
.reward-type-box {
    margin-bottom: 20px;
}
.reward-type-box-title {
    height: 32px;
    line-height: 32px;
    background: url(../common/img/number_icon.png) 0 0 no-repeat;
    padding-left: 35px;
    font-size: 14px;
    color: #333333;

    &.number-one {
        background-position: 0 5px;
    }
    &.number-two {
        background-position: 0 -45px;
    }
}
.reward-type-box-text {
    padding-left: 35px;
    height: 28px;
    line-height: 28px;
    color: #333333;

    .reward-type-link-http {
        color: @color-red;
        text-decoration: none;
        margin-right: 10px;
    }

    .reward-type-link-span {
        padding: 7px 10px;
        background-color: @color-green;
        color: #FFFFFF;
        cursor: pointer;

        .border-radius(5px);
    }
}
.erweima {
    width: 126px;
    height: 126px;
    background-color: @color-green;
    margin: 20px 0 0 65px;
}
.reward-type-two-text {
    width: 260px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    color: #333333;
}
.reward-item {
    border-top: 1px dashed #dedede;
    padding-bottom: 30px;
}
.reward-item-table {
    width: 100%;
    text-align: center;
    tr {

        th {
            border-bottom: 1px solid #dedede;
            height: 40px;
            padding-left: 20px;
            color: #a0a0a0;
        }
        td {
            height: 60px;
            border-bottom: 1px dashed #dedede;
            padding-left: 20px;
            color: #333333;
        }
    }
    .jindu {
        width: 70px;
        height: 8px;
        background-color: #cccccc;
        margin: 0 auto;

        .border-radius(20px);

        .within {
            min-width: 10px;
            background-color: @color-green;
            height: 8px;


            .border-radius(20px);
        }
    }
    .text-align {
        text-align: left;
    }
    .table-tr-span {
        padding: 7px 10px;
        background-color: @color-green;
        color: #FFFFFF;
        cursor: pointer;

        .border-radius(3px);
    }
}