@import "../../common/css/common.less";

@import "../common/css/index.less";




.login-tiaoyue-have {
    float: right;

    a {
        text-decoration: none;
        color: @color-green;
    }
}


//绑定页面开始
.bound {
    padding: 20px 30px;
    background-color: #FFFFFF;
    margin-bottom: 10px;

    .border-radius(3px);
}
.bound-text {
    line-height: 24px;
    font-size: 14px;
    color: #000000;

    a {
        color: @color-green;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}