@import "../../common/css/common.less";

@import "../common/css/index.less";




.login-tiaoyue-have {
    float: right;

    a {
        text-decoration: none;
        color: @color-green;
    }
}


//绑定页面开始
.bound {
    padding: 20px 30px;
    background-color: #FFFFFF;
    margin-bottom: 10px;

    .border-radius(3px);
}
.bound-text {
    line-height: 24px;
    font-size: 14px;
    color: #000000;

    a {
        color: @color-green;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.fix-box-register {
    text-decoration: none;
    color: @color-green;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}
.regist-fix {
    width: 390px;
    padding: 30px 60px 60px 60px;
    background-color: #ffffff;

    .border-radius(5px);
}
.regist-fix-title {
    height: 38px;
    line-height: 38px;
    font-size: 20px;
    color: #000000;
    margin-bottom: 10px;
}
.regist-fix-con {
    width: 378px;
    height: 44px;
    line-height: 44px;
    border: 1px solid #cfcfcf;
    margin-bottom: 20px;
    position: relative;
}
.regist-fix-con-ipt {
    border: 0;
    outline: none;
    width: 360px;
    padding-left: 10px;
    font-size: 14px;
}
.regist-fix-con-name {
    position: absolute;
    left: 10px;
    top: 10px;
    color: #adadad;
    font-size: 14px;
}

.username-point {
    position: absolute;
    left: 0;
    top: 46px;
    color: #c9c9c9;
}