/*! 2014 Baidu Inc. All Rights Reserved */
body {
  margin: 0;
  font-size: 12px;
  font-family: "Microsoft YaHei";
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
p {
  margin: 0;
  padding: 0;
}
.container {
  width: 1000px;
  margin: 0 auto;
  position: relative;
  *zoom: 1;
}
.container:before,
.container:after {
  display: table;
  content: "";
}
.container:after {
  clear: both;
}
.header {
  height: 34px;
  border-bottom: 1px solid #e3e3e3;
}
.header-left {
  float: left;
}
.header-left-phone {
  display: inline-block;
  line-height: 34px;
  color: #666666;
  margin-right: 10px;
}
.header-left-time {
  display: inline-block;
  line-height: 34px;
  color: #666666;
  margin-right: 20px;
}
.header-left-attention {
  display: inline-block;
  line-height: 34px;
  color: #666666;
}
.header-left-attention .attention-me {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../common/img/header_icon.png") 0 0 no-repeat;
  margin-right: 10px;
  vertical-align: middle;
  position: relative;
}
.header-left-attention .attention-me.xinlang {
  background-position: 0 -50px;
}
.header-left-attention .attention-me.weixin {
  background-position: 0 -100px;
}
.header-left-attention .xinlang-erweima {
  width: 200px;
  height: 200px;
  position: absolute;
  left: -88px;
  top: 27px;
  background-color: #FFFFFF;
  z-index: 5;
  border: 1px solid #cccccc;
  display: none;
}
.header-left-attention .xinlang-erweima.current {
  display: block;
}
.header-left-attention .triangle-top {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 8px solid #cccccc;
  left: 90px;
  top: -8px;
}
.header-left-attention .triangle-bottom {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 8px solid #FFFFFF;
  left: 90px;
  top: -6px;
}
.header-right {
  float: right;
}
.header-right-default .default-fastlogin {
  line-height: 34px;
  color: #666666;
  margin-right: 20px;
  text-decoration: none;
}
.header-right-default .default-login {
  display: inline-block;
  color: #FFFFFF;
  padding: 4px 8px;
  background-color: #f2736a;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.header-right-login {
  display: none;
}
.nav {
  height: 80px;
  padding-top: 20px;
}
.logo {
  float: left;
  width: 300px;
  height: 60px;
  display: block;
  margin-right: 16px;
}
.nav-item {
  float: left;
  margin-top: 24px;
  *zoom: 1;
}
.nav-item:before,
.nav-item:after {
  display: table;
  content: "";
}
.nav-item:after {
  clear: both;
}
.nav-item-list {
  margin-right: 34px;
  float: left;
}
.nav-item-list.last {
  margin-right: 0;
}
.nav-item-list .nav-item-link {
  color: #676767;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 7px;
  text-decoration: none;
}
.nav-item-list .nav-item-link:hover,
.nav-item-list .nav-item-link.current {
  border-bottom: 3px solid #76cf65;
  color: #76cf65;
}
.nav-myaccount {
  float: right;
  width: 120px;
  margin: 19px 10px 0 0;
  height: 26px;
  line-height: 26px;
  color: #676767;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  background: url("../common/img/my_account.png") 33px 0 no-repeat;
  text-align: right;
  padding-left: 10px;
}
.footer {
  padding: 36px 0;
  background-color: #55565f;
}
.footer-left {
  float: left;
}
.footer-item {
  *zoom: 1;
  margin-bottom: 10px;
}
.footer-item:before,
.footer-item:after {
  display: table;
  content: "";
}
.footer-item:after {
  clear: both;
}
.footer-item-list {
  float: left;
}
.footer-item-link {
  text-decoration: none;
  color: #b1b1b3;
}
.footer-vertical {
  margin: 0 5px;
  color: #b1b1b3;
}
.footer-site-left {
  color: #b1b1b3;
  margin-right: 20px;
}
.footer-site-me {
  color: #b1b1b3;
}
.footer-site-me-xinlang {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../common/img/header_icon.png") 0 0 no-repeat;
  vertical-align: middle;
  margin-left: 5px;
}
.footer-site-me-xinlang.xinlang {
  background-position: 0 -150px;
}
.footer-site-me-xinlang.weixin {
  background-position: 0 -200px;
}
.footer-right {
  float: right;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  color: #b1b1b3;
  padding-left: 40px;
  background: url("../common/img/footer_phone.png") 0 0 no-repeat;
}
.investlist {
  padding-bottom: 30px;
  border-bottom: 1px solid #dfdfdf;
}
.investlist-title {
  height: 56px;
  line-height: 56px;
  font-size: 20px;
  color: #333333;
}
.investlist-box-title {
  border-bottom: 1px dashed #d8d8d8;
  padding-left: 12px;
  height: 64px;
  line-height: 64px;
}
.investlist-box-title.border-bottom {
  border-bottom: none;
}
.investlist-box-title-name {
  float: left;
  margin-right: 40px;
  color: #999999;
  font-size: 14px;
}
.investlist-box-title-name.name {
  width: 200px;
  text-align: center;
}
.investlist-box-title-name.grade {
  width: 60px;
  text-align: center;
}
.investlist-box-title-name.grade .grade-star {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../common/img/star_icon.png") 0 0 no-repeat;
}
.investlist-box-title-name.grade .grade-star.all {
  background-position: 0 0;
}
.investlist-box-title-name.grade .grade-star.half {
  background-position: 0 -50px;
}
.investlist-box-title-name.grade .grade-star.none {
  background-position: 0 -100px;
}
.investlist-box-title-name.lilv {
  width: 60px;
  text-align: center;
}
.investlist-box-title-name.price {
  width: 130px;
  text-align: center;
}
.investlist-box-title-name.time {
  width: 48px;
  text-align: center;
}
.investlist-box-title-name.jindu {
  width: 130px;
  *zoom: 1;
}
.investlist-box-title-name.jindu:before,
.investlist-box-title-name.jindu:after {
  display: table;
  content: "";
}
.investlist-box-title-name.jindu:after {
  clear: both;
}
.investlist-box-title-name.status {
  width: 80px;
  text-align: center;
}
.jindu-box {
  width: 70px;
  height: 8px;
  background-color: #cccccc;
  float: left;
  margin: 28px 10px 0 0;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.jindu-box .jindu-box-inline {
  width: 70%;
  background-color: #f2736a;
  height: 8px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.jindu-number {
  float: left;
}
.name-shi {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  width: 26px;
  text-align: center;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  background-color: #76cf65;
  margin: 20px 10px 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.school {
  color: #323232;
  font-size: 14px;
}
.lilv-number {
  font-size: 16px;
  color: #f2736a;
  font-weight: bold;
}
.lilv-number.color-blank {
  color: #000000;
}
.lilv-bai {
  font-size: 12px;
  color: #949494;
}
.status-biding {
  display: block;
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  margin-top: 18px;
  background-color: #76cf65;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.status-biding:hover {
  background-color: #2c9818;
  color: #FFFFFF;
}
.status-biding.current {
  color: #666666;
  background-color: #e5e5e5;
}
.investlist-more {
  display: block;
  text-decoration: none;
  height: 30px;
  line-height: 30px;
  margin-top: 20px;
  text-align: center;
  color: #999999;
  font-size: 14px;
}
.pager {
  *zoom: 1;
  width: 460px;
  margin: 40px auto 0;
}
.pager:before,
.pager:after {
  display: table;
  content: "";
}
.pager:after {
  clear: both;
}
.pager-link {
  float: left;
  padding: 6px 10px;
  border: 1px solid #cccccc;
  margin-right: 10px;
  color: #000000;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.pager-link:hover,
.pager-link.current {
  background-color: #76cf65;
  color: #FFFFFF;
  border-color: #76cf65;
}
.pager-span {
  float: left;
  padding: 6px 10px;
  border: 1px solid #cccccc;
  margin-right: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.banner {
  height: 370px;
  background-color: #76cf65;
}
.banner-select {
  *zoom: 1;
  width: 100px;
  margin: 330px auto 0;
}
.banner-select:before,
.banner-select:after {
  display: table;
  content: "";
}
.banner-select:after {
  clear: both;
}
.banner-select .banner-select-link {
  display: block;
  float: left;
  margin-right: 10px;
  font-size: 14px;
  color: #f2736a;
  text-decoration: none;
}
.banner-select .banner-select-link:hover,
.banner-select .banner-select-link.current {
  color: #FFFFFF;
}
.introduce {
  height: 220px;
  background-color: #f8f8f8;
  padding-top: 60px;
}
.introduce-left {
  float: left;
  width: 360px;
  overflow: hidden;
}
.introduce-left .introduce-left-title {
  height: 56px;
  line-height: 56px;
  font-size: 26px;
  font-weight: bold;
}
.introduce-left .introduce-left-title span {
  color: #76cf65;
}
.introduce-left .introduce-left-text {
  font-size: 14px;
  color: #333333;
  line-height: 28px;
}
.introduce-left .introduce-left-text a {
  text-decoration: none;
  color: #76cf65;
}
.introduce-right {
  float: right;
  *zoom: 1;
}
.introduce-right:before,
.introduce-right:after {
  display: table;
  content: "";
}
.introduce-right:after {
  clear: both;
}
.introduce-right-list {
  float: left;
  margin-right: 70px;
  text-align: center;
  width: 140px;
  overflow: hidden;
}
.introduce-right-list.last {
  margin-right: 0;
}
.introduce-right-list .introduce-list-logo {
  width: 80px;
  height: 80px;
  margin: 0 auto 10px;
  background: url("img/round_pic_icon.png") 0 0 no-repeat;
}
.introduce-right-list .introduce-list-logo.income {
  background-position: 0 0;
}
.introduce-right-list .introduce-list-logo.baozhang {
  background-position: 0 -100px;
}
.introduce-right-list .introduce-list-logo.teaching {
  background-position: 0 -200px;
}
.introduce-right-list .introduce-list-title {
  font-size: 20px;
  height: 26px;
  line-height: 26px;
  color: #343434;
  margin-bottom: 4px;
}
.introduce-right-list .introduce-list-link {
  display: block;
  text-decoration: none;
  color: #656565;
}
.introduce-right-list .introduce-list-link-text {
  height: 20px;
  line-height: 20px;
}
.newgonggao {
  height: 70px;
  line-height: 70px;
  border-bottom: 1px solid #dfdfdf;
  padding-right: 20px;
  *zoom: 1;
}
.newgonggao:before,
.newgonggao:after {
  display: table;
  content: "";
}
.newgonggao:after {
  clear: both;
}
.newgonggao-title {
  font-size: 20px;
  color: #333333;
  margin-right: 20px;
}
.newgonggao-txt {
  text-decoration: none;
  color: #333333;
}
.newgonggao-txt .symbol {
  color: #76cf65;
  margin-right: 10px;
}
.newgonggao-txt .newgonggao-time {
  margin-left: 10px;
  color: #adadad;
}
.newgonggao-more {
  float: right;
  line-height: 70px;
  text-decoration: none;
  color: #333333;
}
.bottom {
  padding-bottom: 40px;
}
.btm-bank-title {
  margin-bottom: 20px;
}
.bottom-content {
  *zoom: 1;
}
.bottom-content:before,
.bottom-content:after {
  display: table;
  content: "";
}
.bottom-content:after {
  clear: both;
}
.bottom-bank {
  width: 146px;
  height: 40px;
  display: block;
  text-decoration: none;
  margin-right: 40px;
  float: left;
}
.bottom-bank.first {
  padding-left: 20px;
}
