@import "../common/css/common.less";

.company-address {
    padding-top: 10px;
    margin-bottom: 10px;
}

.company-address-intro {
    .clearfix;
}
.company-address-intro-left {
    float: left;
    width: 370px;
}
.company-address-title {
    font-size: 20px;
    line-height: 40px;
    height: 40px;
}
.company-address-ctx {
    font-size: 14px;
    line-height: 24px;
}

/*联系我们改版样式*/

.nav{border-bottom-width:0px;}

.company-nav{height:566px;background-color:#e4b9b6;}
.company-navbar{height:49px;background-color:#dcdcdc;}

.main-container {
       position:relative; 
       width:1000px;
       height:1004px;
   }
.container2 {
	  top:-517px; 
	  z-index:1;
	  position:absolute;
	  
     .company-box1 {
             background: url("img/linkus_bg1.png") no-repeat;
             width:1000px;
             height:364px; 
        
        }
      .company-box2 { 
             width:1000px;
             height:780px;
             background-color:#eeeeee;
             
             .company-link {
                     text-align:center; 
                     width:930px;
                     height:280px;
                     margin:0 auto;
		             li {
		                 width:300px;
                         height:280px;
                         float:left;
                         display:block;
                         margin-left:10px; 
                         margin-top:92px;
		             }
		             strong {
		                color:#000000;
		                font-size:20px;
		                margin-top:35px;
		                margin-bottom:32px;
		                display:block;
		             }
		             span {
		                 font-size:16px;
		                 color:#777777;
		                 font-weight:500;
		                 line-height:20px; 
		                 text-align:center; 
		             }
             }
             
             .company-link2 {
                     text-align:center; 
                     width:885px;
                     height:234px;
                     margin:0 auto;
                     margin-top:74px;
		             li {
		                 width:197px;
                         height:197px;
                         float:left;
                         display:block;
                         margin-left:170px;
                         margin-top:74px;
		             } 
		             span {
		                 font-size:16px;
		                 color:#777777;
		                 font-weight:500;
		                 line-height:20px; 
		                 text-align:center; 
		                 display:block;
		                 margin-top:20px;
		             }
             }
       }
       .company-box3 { 
             background: url("img/linkus_bg2.png") no-repeat;
             width:1000px;
             height:377px;
             background-color:#eeeeee;  
       } 
     
  }
