.container {
     padding-bottom: 40px;
     padding-top: 40px;
     background-color: #eee;
     font-family: "黑体";

}
table {
    width:80%;
    margin: 0 auto;
    
}
th {
    height:40px;
    text-align: center;
    background-color: #AAAAAA;
}
td {
    height:40px;    
    text-align: center;
    background-color: #AAAAAA;    
                
}
img {
    margin-bottom: 15px;
}
.indent {
  	text-indent:2em;
}
.define {
   	margin-top: 30px;
   	font-size: 20px;
}
.define1{
	margin-top: 30px;
}
.title {
	font-size: 40px;
	text-align: center;
	margin-top: 20px;
	
}
h4 {
   	margin-top: 20px;
   	margin-bottom: 20px;
   	font-weight: 700;
}
.table{
	margin-top: -10px;
   	margin-bottom: 1px;
}
.table1{
	margin-bottom: -18px;
	margin-top: -18px;
}