@import "../invest/index.less";
.my-invest-list .my-invest-project {
    min-height: 1px;
}

.my-invest-list {
    .msg-type {
        width: 100px;
    }
    .msg-content {
        width: 450px;
        .ellipsis();
    }
    .msg-time {
        width: 150px;
    }
    .msg-content-text {
        cursor: pointer;
    }
    .current {
        &.my-invest-item {
            .my-msg-detail {
                display: none;
            }
        }
    }
}

.my-invest-tab {
    .set-readAll-btn {
        color: @color-green;
        font-size: 12px;
        line-height: 26px;
        cursor: pointer;
        float: right;
    }
}

.my-invest-item {
    &.unread {
        color: @color-green;
    }
    .my-msg-detail {
        padding: 30px;
        background-color: @color-gray-bg;
        line-height: 24px;
        min-height: 0;
        position: relative;
        &.current {
            display: inherit;
        }
    }
    p {
        margin: 0;
        padding: 0;
    }
    a {
        color: @color-green;
        text-decoration: none;
        cursor: pointer;
    }
    .close-detail {
        color: @color-green;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 20px;
    }
    .del-msg {
        display: block;
        height: 16px;
        width: 16px;
        line-height: 16px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        /* background-color: #d6d6d6;*/
        
        position: absolute;
        top: 22px;
        right: 0px;
        text-align: center;
        cursor: pointer;
        color: #878787;
        font-size: 16px;
    }
    .my-invest-content {
        position: relative;
    }
}

.min-height {
    min-height: 300px;
    position: relative;
}

.apply {
    .finish-nav-top {
        padding: 20px 0 10px 0px;
        margin-bottom: 20px;
        text-align: center;
    }
}
