@import "../common/css/common.less";

.infos-detail-title {
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}
.infos-detail-subtitle {
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    border-bottom: 1px dashed @color-gray-border;
    margin-bottom: 10px;
    padding-bottom: 20px;
}
.infos-detail-time {
    margin-right: 20px;
}
.infos-share {
    .inline-block;
    .clearfix;
}

.bdsharebuttonbox,
.infos-share-box {
    float: left;
    height: 20px;
}

.bdsharebuttonbox {
    width: 160px;
}

.infos-detail-ctx {
    padding: 10px 20px;
    text-indent: 2em;
    font-size: 14px;
    line-height: 24px;
}