 @import "../invest/index.less";
.all-box-income {
    margin-bottom: 24px;
    height: 80px;
    margin-left: 50px;
    width: 400px;
    border-right: none;
}

.all-box-income-class {
    height: 50px;
    width: 100px;
    position: relative;
    margin-top: 30px;
    .clearfix;
      .all-box-pay-link {
         position: inherit;
         display: block;
         width: 70px;
         height: 30px;
         line-height: 30px;
         text-align: center;
         text-decoration: none;
         color: #fff;
         font-size: 14px;
         background-color: #f2736a;
         margin-top: 4px;
         -webkit-border-radius: 3px;
         -moz-border-radius: 3px;
         border-radius: 3px;
         float: left; 
         &:hover {
             color: #fff;
              background-color: #E33F33;
         }
         }
        
         .cash-link {
             background-color: #75cf64;
             margin-left: 8px;
             &:hover {
             background-color: #2B9817;
          }
      }
}
